---
# Copyright (c) The Kowabunga Project
# Apache License, Version 2.0 (see LICENSE or https://www.apache.org/licenses/LICENSE-2.0.txt)
# SPDX-License-Identifier: Apache-2.0

{%- import "src/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.Schema(resources.cost, ['price', 'currency']) }}
{{ oas.FloatProperty('price', 'The unit price information') }}
{{ oas.StringProperty('currency', 'The associated currency') }}
