---
# Copyright (c) The Kowabunga Project
# Apache License, Version 2.0 (see LICENSE or https://www.apache.org/licenses/LICENSE-2.0.txt)
# SPDX-License-Identifier: Apache-2.0

openapi: 3.1.0

info:
  title: Kowabunga API documentation
  summary: Kowabunga API allows your client application to interact with Kowabunga's orchestrator.
  description: Kvm Orchestrator With A BUNch of Goods Added
  version: 0.52.5
  contact:
    name: The Kowabunga Project
    url: "https://www.kowabunga.cloud/"
    email: "maintainers@kowabunga.cloud"
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.txt"

servers:
  - url: "/api/v1"
