---
# Copyright (c) The Kowabunga Project
# Apache License, Version 2.0 (see LICENSE or https://www.apache.org/licenses/LICENSE-2.0.txt)
# SPDX-License-Identifier: Apache-2.0

security:
  - ApiKeyAuth: []
  - BearerAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API key to authorize machine-to-machine requests.
      name: X-API-Key
      in: header
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
