---
# Copyright (c) The Kowabunga Project
# Apache License, Version 2.0 (see LICENSE or https://www.apache.org/licenses/LICENSE-2.0.txt)
# SPDX-License-Identifier: Apache-2.0

tags:
{% for k, v in resources.items() %}
{% if v.tag | default(None) %}
  - name: {{ k }}
    description: Everything about {{ v.desc }}
{% endif %}
{% endfor %}

