---
# Copyright (c) The Kowabunga Project
# Apache License, Version 2.0 (see LICENSE or https://www.apache.org/licenses/LICENSE-2.0.txt)
# SPDX-License-Identifier: Apache-2.0

{%- import "src/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.volume, ['name', 'type', 'size']) }}
{{ oas.StringProperty('type', 'The ' + resources.volume.desc + ' type', values=['os', 'iso', 'raw']) }}
{{ oas.IntProperty('size', 'The ' + resources.volume.desc + ' size (in bytes)') }}

  parameters:
{{ oas.PathParamID(resources.volume) }}

paths:
  /volume:
{{ oas.List(resources.volume, [resources.volume.tag]) }}

  /volume/{{ '{' + resources.volume.paramId + '}' }}:
{{ oas.RUD(resources.volume, [resources.volume.tag], [resources.volume.paramSchema]) }}
